{% include "base.html" %}


{% load static %}

<title>{{ title }}</title>


{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/account.css' %}">


{% block content %}

    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Create new Account</h3>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Register" class="btn btn-secondary w-100 btn-block p-2 btn-register">
        </form>
        <br>
        {% load socialaccount %}

        <div class="text-center">
            <a href="{% provider_login_url 'google' %}?next={% url 'shop:products' %}" class="btn btn-outline-danger w-100 mb-2">
                Login with Google
            </a>
        </div>
    </div>

    

{% endblock %}