{% load static %}
{% load cache %}
{% load shop_tags %}

<div class="container">
    <div class="menu">
        <div class="left">
            <div class="main">
                <div class="leva">
                    <button id="catalog-button" class="catalog-button">Каталог</button>
                    <ul id="categories-list" class="categories-list">
                        {% cache 60 catalog_categories %}
                        {% tag_categories as categories %}
                        {% for category in categories %}
                            <li><a href="{% url 'shop:catalog' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                        {% endcache %}
                    </ul>
                </div>

                <div class="prava">
                    <div class="col-md-12">
                        {% if category_slug %}  <!-- Проверяем, находимся ли мы в категории -->
                            <!-- Форма сортировки для категории -->
                            <form action="{% url 'shop:catalog' category_slug=category_slug %}" method="get" class="d-flex flex-column">
                                <input type="hidden" name="q" value="{{ query }}"> 
                                <input type="hidden" name="category_slug" value="{{ category_slug }}"> <!-- Передача category_slug -->
                                <select name="sort" id="sort" class="form-control border-success" onchange="this.form.submit();">
                                    <option value="default" {% if sort_by == 'default' %}selected{% endif %}>По умолчанию</option>
                                    <option value="asc" {% if sort_by == 'asc' %}selected{% endif %}>По возрастанию △</option>
                                    <option value="desc" {% if sort_by == 'desc' %}selected{% endif %}>По убыванию ▽</option>
                                </select>
                            </form>
                        {% else %}
                            <!-- Форма для поиска -->
                            <form action="{% url 'shop:search' %}" method="get" class="d-flex flex-column">
                                <input type="hidden" name="category_slug" value="{{ category_slug }}"> <!-- Передача category_slug -->
                                <input type="hidden" name="q" value="{{ query }}"> <!-- Передача поискового запроса -->
                                <select name="sort" id="sort" class="form-control border-success" onchange="this.form.submit();">
                                    <option value="default" {% if sort_by == 'default' %}selected{% endif %}>По умолчанию</option>
                                    <option value="asc" {% if sort_by == 'asc' %}selected{% endif %}>По возрастанию △</option>
                                    <option value="desc" {% if sort_by == 'desc' %}selected{% endif %}>По убыванию ▽</option>
                                </select>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>